body {
  width: 280px;
  height: 200px;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
}

button {
  font-size: 11pt;
  width: 70%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #333333;
}

.container {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #1c202e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 25px;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#download {
  background: #50bf68;
}

#summarise {
  background: #79b4d9;
}
